$fuente_principal: 'Montserrat',
sans-serif;
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFF;
$tablet: 768px;
$phone: 480px;
$desktop: 992px;
$desktopXL: 1200px;